.jumbotron {
  padding-top: 2rem 1rem;
  background-color: #e2edff;
}
#projek {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

/* CSS BRAND NAVBAR */
h4 {
  position: relative;
  font-size: 20px;
  font-family: sans-serif;
  -webkit-text-stroke: 0.3vm #0d6efd;
  text-transform: uppercase;
}
h4::before {
  content: attr(data-text);
  position: absolute;
  top: 5px;
  left: 0px;
  width: 0%;
  height: 100%;
  color: #ffffff;
  -webkit-text-stroke: 0vw #0d6efd;
  border-right: 3px solid #ffffff;
  overflow: hidden;
  animation: animate 3s linear infinite;
  -webkit-animation: animate 3s linear infinite;
}
@keyframes animate {
  0% {
    width: 0;
  }
  85% {
    width: 95%;
  }
}
/* AKHIR CSS BRAND NAVBAR */

/* CSS BUTTON */
button {
  background: #0d6efd;
  color: #3bd9d9;
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
  padding: 10px 20px;
  border: 2px solid #3bd9d9;
  border-radius: 32px;
  transform: translate(0);
  overflow: hidden;
  cursor: pointer;
}
button::before {
  content: "";
  position: absolute;
  background: #3bd9d9;
  width: 8px;
  top: 0;
  bottom: 0;
  left: -32px;
  transform: rotate(-16deg);
  filter: blur(6px);
}
button:hover::before {
  left: calc(100% - 0px);
  transition: 0.88s;
}
/* AKHIR CSS BUTTON */

/* CSS SEARCH */
.search-input {
  outline: none;
  border: none;
  border-radius: 40px;
  background: #e2edff;
  width: 0;
  padding: 0;
  color: #fff;
  float: left;
  font-size: 16px;
  transition: 0.3s;
  line-height: 40px;
}
.search-input::placeholder {
  color: #dbc5b0;
}
.search-btn {
  margin-top: 9px;
  color: #fff;
  float: right;
  width: 40px;
  border-radius: 50px;
  background: #0d6efd;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.3s;
}
.search-input:focus,
.search-input:not(:placeholder-shown) {
  width: 200px;
  padding: 0 6px;
}
.search-box:hover > .search-input {
  width: 200px;
  padding: 0 6px;
}
.search-box:hover > .search-btn,
.search-input:focus,
.search-btn,
.search-input:not(:placeholder-shown),
.search-btn {
  background: #0d6efd;
  color: #e2edff;
}
/* AKHIR CSS SEARCH */

/* CSS GALLERY */
.gambar {
  width: 50vw;
  height: 68vmin;
  display: flex;
  gap: 5px;
}

.gambar img {
  height: 100%;
  flex: 1;
  object-fit: cover;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s;
}

.gambar img:hover {
  flex: 3;
}

/* CSS CARD PROJEK*/
.card {
  width: 100%;
  height: 400px;
  max-width: 300px;
  border-radius: 8px;
  background: #0d6efd;
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.02);
  border-right-color: rgba(255, 255, 255, 0.01);
  border-bottom-color: rgba(255, 255, 255, 0.01);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.05);
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card,
.card * {
  box-sizing: border-box;
  transition: 400ms;
}
.card-img img {
  display: block;
  width: 100%;
  height: auto;
}
.card-title {
  text-align: center;
  margin-top: 30px;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 400;
}
.card-content {
  position: absolute;
  right: 32px;
  bottom: 40px;
  left: 32px;
  text-align: center;
  color: #ffffff;
  font-size: 0.75rem;
  opacity: 0;
}
.card:hover .card-img {
  transform: translateY(-48px);
}
.card:hover .card-img img {
  transform: translate(-16px, -42px) rotate(-16deg) scale(1.4);
}
.card:hover .card-content {
  opacity: 1;
}

/* FORM */
.input-group {
  position: relative;
}
.input {
  padding: 10px;
  border: none;
  border-radius: 4px;
  font: inherit;
  color: #fff;
  background-color: transparent;
  outline: 2px solid #fff;
}
.input-label {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(10px, 10px);
  transform-origin: left;
  transition: transform 0.25s;
}
.input:focus + .input-label,
.input:valid + .input-label {
  transform: translate(0, -30px) scale(0.8);
  color: #000000;
}
.input:is(:focus, :valid) {
  outline-color: #000000;
}
